.plan-container:hover .plan-button {
  background: #18181b;
  color: #ffffff;
  font-weight: bold;
}

.app-container {
  background-color: #ebebeb;
}

table tbody tr {
  padding-bottom: 0 2rem;
}

.control:nth-child(even) {
  margin-right: 0;
}

.dropdown .dropdown-menu {
  display: block;
}
